<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> 
</head>
<body>
  
  <div class="not-found-container">
    <h1>404</h1>
    <p>page not found!</p>
  </div>
  

</body>
</html>